.index_main{
  .top_title{
    font-size: 40px;
    text-align:center;
  }
  .link_pagebox{
    background-image: url('腕立.jpg');
    background-size: 100% 100%;
    background-repeat:  no-repeat;    
    width:100%;                                   /* 横幅のサイズを指定    */
    height:800px;     

    
    .week_one{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
    .week_two{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
    .week_three{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
    .week_four{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
    .month_one{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
    .month_two{
      padding: 10px;
      &__link{
        text-decoration: none;
        color:blue;
      }
    }
  }
}