%header
  %ul.link_tabs__box
    .link_tabs__box__top
      =link_to "トップ",root_path,class: 'top_tab'
    .link_tabs__box__training
      =link_to "トレーニングRoom",products_path,class:'training_tab'
    - if user_signed_in?
      .link_tabs__box__exchange
        =link_to "情報交換ページへ",exchange_products_path,class:'exchange_tab'
      .link_tabs__box__logout
        =link_to "ログアウト",destroy_user_session_path, class:'logout_tab',method: :delete
    - else
      .link_tabs_box__login
        = link_to "ログイン",new_user_session_path,class:'login_tab'
      .link_tabs_box__regisration
        = link_to "新規登録",new_user_registration_path,class:'regisration_tab'
        