%header
  %ul.link_tabs__box
  .link_tabs__box__top
    =link_to "トップ",root_path
  .link_tabs__box__top
    =link_to "トレーニングRoom",products_path
  .link_tabs__box__top
    =link_to "情報交換ページ",product_path
  .link_tabs__box__top
    =link_to "ログイン","#"
  .link_tabs__box__top
    =link_to "ログアウト","#"