.week_one1
  .text_box_1week 2ヶ月目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        .content_1week_main__readiness__header 心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text 
          同じメニューだと身体が順応するので違う動画などで他の部分の筋肉の活性化をするといいでしょう
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。
        
      .content_1week_main__training
        .content_1week_main__training__header トレーニング内容
        .content_1week_main__training__header__point
          【この中の３つくらいをセレクトしてやっていくと良いです。できない日はストレッチだけでもやってみてください】
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
        %li.content_1week_main__training__menu
          【10分】パンチで脂肪を1kg落とす！全身の脂肪燃焼有酸素運動！
        %li.content_1week_main__training__menu
          最強プランク１３種を紹介！【各動き30秒ずつ】
        %li.content_1week_main__training__menu
          【10分】静かに汗だく！脂肪燃焼がヤバい！ | Muscle Watching
        %li.content_1week_main__training__menu
          胸を大きくする３分間６種類の最強自重胸トレメニュー！【効かない訳が無いトレ】大胸筋トレーニング 筋トレ
        %li.content_1week_main__training__menu
          ５キロウォーキング（速歩き　33分前後で歩いていました。）
        %li.content_1week_main__training__menu-new
          【体幹！腸腰筋！逆腹筋サーキット‼】逆腹筋を取り入れた簡単激やせサーキット‼【４分間‼】【無駄な筋肉付けません!!】　　←New ！！
        %li.content_1week_main__training__menu-new
          成人からの！体が柔らかくなる軟体ストレッチ法を紹介【日々筋トレ漬け体ガチガチにも必見】　　←New ！！
        %li.content_1week_main__training__menu-new
          開脚できるようになるストレッチ！【2週間で開脚ベターっになる方法】　←New ！！
      .content_1week_main__meal
        .content_1week_main__meal__header 食事内容
        %li.content_1week_main__meal__menu
          味噌汁＋納豆（毎食）
        %li.content_1week_main__meal__menu
          カロリーハーフのネスカフェ
        %li.content_1week_main__meal__menu
          鶏肉
        %li.content_1week_main__meal__menu
          もうやんカレー
        %li.content_1week_main__meal__menu
          居酒屋　週３回ペース
      .content_1week_main__readiness__success
        .content_1week_main__readiness__header反省点や振り返り（一ヶ月の振り返り）
        .content_1week_main__readiness__success__menu
          この月はプライベートで色々あり
        .content_1week_main__readiness__success__menu
          結果として外食が非常に多かったです。ご飯を作ることもあまりしませんでした。
        .content_1week_main__readiness__success__menu
          考え方として変わったことは、味噌汁と納豆を食事の最初に取り入れることです。
        .content_1week_main__readiness__success__menu
          これのおかげでお腹いっぱい食べたとしても大した量を食べなくて済みました。
        .content_1week_main__readiness__success__menu
          納豆のおかげで腸内環境が整うのも一石二鳥でした。体調が抜群に良くなったと思います。
        .content_1week_main__readiness__success__menu
          飲み物に関しても、豆乳をずっと飲んできましたが、カロリーハーフのネスカフェと対してカロリーが変わらないのと納豆で大豆を摂取しているので変更にいたりました。
        .content_1week_main__readiness__success__menu
          筋トレ休みの日にやるメニューとしてストレッチも追加しています。
        .content_1week_main__readiness__success__menu
          飲みに行った日はストレッチ、そうじゃない日はトレーニングと日常の付き合いの波にも対応できるトレーニングとなっています。
        .content_1week_main__readiness__success__menu
          また週３回で外食していたにも関わらず、痩せていったので、ここまでトレーニングを続けられている方は相当太りにくくなっていることを実感できると思います。
        .content_1week_main__readiness__success__menu
          ただ、注意してほしいのはここまで来るとトレーニングをサボっても体重が減少します。
        .content_1week_main__readiness__success__menu
          なぜなら、筋肉が減少するからです。何もしないでも痩せる！と思ってサボっていると脂肪がついてまた太るので注意してください。
        .content_1week_main__readiness__success__menu
          この段階で71kg→63kgになりー８キロのダイエットに成功しました！
      .content_1week_main__training__commentary
        .content_1week_main__training__commentary__header トレーニング動画紹介【追加あり】
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          肩甲骨の動きを意識して、しっかりと行うとよいです。
        .content_1week_main__training__commentary__movie-comment
          この段階だとこのメニューはほぼ翌日に疲労なども残らないと思います。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3PDy_bkpRSs", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          ボクシングの動きです、追い込み過ぎなければ非常に楽しくトレーニングできるのでおすすめです。
        .content_1week_main__training__commentary__movie-comment
          この段階だと回数を増やして見たりしていいと思います。順番は順不同で大丈夫ですが、有酸素要素が大きいのでスクワットの後にやったほうがいいと思います。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/hns0ZEl3fVY", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          このアプリで紹介するメニューの中で間違えなく最強のトレーニングです。めちゃくちゃきついですが身体がみるみる変わっていきます。
        .content_1week_main__training__commentary__movie-comment
          メトロンさんは上級者向けなのできつい方はジェットゆうさんの動画をおこなってください
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/jXkcsC7fjYU", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          これも最高にきついです。トレーナーさんもバテバテになってます　笑　背中や腹筋の横などを鍛えたいときはこれがおすすめです。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/6JIRtnZyqwA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          これは胸の脂肪がだらしないなと思った方におすすめしています。　胸を張るようにして行うとよいです。最強に胸筋がつきます。女性にはおすすめしません。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Hoix4GAvGnU", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          たった状態での体感トレーニングになります。筋肉が硬いと全く足が上がりません。本当に笑っちゃうくらい上がらないのでぜひやってみてください！
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/WyQjIAifWII", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          上記の問題を解決すべく、敬愛するメトロンブログさんの動画でストレッチを行いました。呼吸が大事です。ただ、やりすぎると首を痛めるので注意してください
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Re5FPU5_37g", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          こちらの動画は、メトロンさんのものより優しい内容となっています。ぜひこちらも試してみてください。メトロンさんの動画出てきた呼吸法をつかって行うとなお良いです
      =link_to "トレーニングルームに戻る",products_path,class:"next-link"