.1week
  .text_box_1week 1ヶ月目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text 
          同じメニューだと身体が順応するので違う動画などで他の部分の筋肉の活性化をするといいでしょう
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。
        %li.content_1week_main__readiness__text
          お腹の脂肪を落としたい方は、糖質を制限するのではなく脂質に意識を向けて摂取しないようにしましょう。（少しは取らないと便が出ないので注意してください）
      .content_1week_main__training
        トレーニング内容【この中の３つくらいをセレクトしてやっていくと良いです。】
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
        %li.content_1week_main__training__menu
          【10分】パンチで脂肪を1kg落とす！全身の脂肪燃焼有酸素運動！
        %li.content_1week_main__training__menu__new
          最強プランク１３種を紹介！【各動き30秒ずつ】　←New ！！
        %li.content_1week_main__training__menu__new
          【10分】静かに汗だく！脂肪燃焼がヤバい！ | Muscle Watching　　←New ！！
        %li.content_1week_main__training__menu__new
          胸を大きくする３分間６種類の最強自重胸トレメニュー！【効かない訳が無いトレ】大胸筋トレーニング 筋トレ　　←New ！！
        %li.content_1week_main__training__menu
          ５キロウォーキング（速歩き　35分前後で歩いていました。）
      .content_1week_main__meal
        食事内容
        %li.content_1week_main__meal__menu
          【マッスルグリル】沼
        %li.content_1week_main__meal__menu
          低糖質麦芽コーヒーor水
        %li.content_1week_main__meal__menu
          キットカット１枚
        %li.content_1week_main__meal__menu_cheat
          チートデー1日（カロリー脂質等気にせず何でも食べてOKな日）
      .content_1week_main__cheat
        チートデーについて
        .content_1week_main__cheat__day
          1日だけ好きなものを全力で食べましょう。罪悪感を持たずに食べることが大切です。
        .content_1week_main__cheat__day
          脂質が多いものはやめたほうがいいとか体脂肪率20%以上はやる必要がないとか一般的に言われていますが気にしちゃいけません。
        .content_1week_main__cheat__day
          精神的に安定するために行うものであり、ガス抜きが大事です。
        .content_1week_main__cheat__day
          私はジャンクを食べたくなり、マクドナルドに行き
        .content_1week_main__cheat__day
          ビッグマック、ダブルチーズバーガー、ポテナゲ特大、爽健美茶、三角チョコパイ２つ、ダブルチョコメルツ
        .content_1week_main__cheat__day
          上記をおもむろに食べました。恐ろしいですね　笑　
        .content_1week_main__cheat__day
          おそらく脂質も200〜300gほど摂取していると思います。私の1日の脂質必要摂取量は55gなので6倍近く摂取していますが3日でもとに戻りました。
        .content_1week_main__cheat__day
          チートデーの日にもトレーニングを行い、翌日からは元の食事に戻しましょう！
      .content_1week_main__readiness__success
        反省点や振り返り（一ヶ月の振り返り）
        .content_1week_main__readiness__success__menu
          ここまで来ると習慣化しているので、ほぼルーティーンと化していると思います。
        .content_1week_main__readiness__success__menu
          この一ヶ月は飽きなどが来ないように工夫しました。メニューを増やしたり、自分の体を見てどこを鍛えたいか等模索してメニューを決めました。
        .content_1week_main__readiness__success__menu
          新規で追加したメニューはどれもハードなものばかりです。
        .content_1week_main__readiness__success__menu
          流石にきつすぎるので、初心を思い出しきついものは負荷が軽くなるように工夫しながら行いました。
        .content_1week_main__readiness__success__menu
          うっすら腹筋が見えてき始めて今後を考えるのにワクワクしていました。
        .content_1week_main__readiness__success__menu
          また食事が沼だけなのに飽きる人は飽きると思うので消費カロリーの範囲内で好きなものを食べても問題ありません。
        .content_1week_main__readiness__success__menu
          1ヶ月も食事を低脂質にするとさすがに、我慢の限界が来てしまうので自分のタイミングでチートデーを設定しましょう。翌日からの励みになります。
        .content_1week_main__readiness__success__menu
          この頃に少しずつ痩せ始め、71kg→65kgになりました。
      .content_1week_main__training__commentary
        トレーニング動画紹介【追加あり】
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          肩甲骨の動きを意識して、しっかりと行うとよいです。
        .content_1week_main__training__commentary__movie-comment
          この段階だとこのメニューはほぼ翌日に疲労なども残らないと思います。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3PDy_bkpRSs", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          ボクシングの動きです、追い込み過ぎなければ非常に楽しくトレーニングできるのでおすすめです。
        .content_1week_main__training__commentary__movie-comment
          この段階だと回数を増やして見たりしていいと思います。順番は順不同で大丈夫ですが、有酸素要素が大きいのでスクワットの後にやったほうがいいと思います。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/hns0ZEl3fVY", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          このアプリで紹介するメニューの中で間違えなく最強のトレーニングです。めちゃくちゃきついですが身体がみるみる変わっていきます。
        .content_1week_main__training__commentary__movie-comment
          メトロンさんは上級者向けなのできつい方はジェットゆうさんの動画をおこなってください
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/jXkcsC7fjYU", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          これも最高にきついです。トレーナーさんもバテバテになってます　笑　背中や腹筋の横などを鍛えたいときはこれがおすすめです。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/6JIRtnZyqwA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          これは胸の脂肪がだらしないなと思った方におすすめしています。　胸を張るようにして行うとよいです。最強に胸筋がつきますが、女性にはおすすめしません。
      =link_to "2ヶ月目〜トレーニングへ移動する",month_two_products_path