.new_main
  = render 'message'
  .footer
    .footer__comment_box
      = form_with model: Post.new,url: products_path,local: true do |form|
        = form.text_area :post,placeholder:"例)1週間目です。徐々に筋トレになれてきました。",class:"footer__comment_box__text"
        
        = form.submit"投稿する",class:"footer__comment_box__btn"
