.top_main
  .title
    %h1 ３ヶ月で８キロ痩せたトレーニングと食事メニュー
  
  %h2.introduction1　自己紹介
  %p.introduction1__main  自称筋肉質だからという謎の自信をもっていたためプログラミングスクールでプログラミングを学びながらお菓子ばっかり食べていたら身長155cmで体重が71kgになる。
  %p.introduction1__main  鏡に映った自分のお腹を見て絶望ダイエットを決意。
  %p.introduction1__main  日々のトレーニングと食事を見直すことで８kgのダイエットに成功しました。
  %p.introduction1__main  現在は、多くの人を幸せにしたいという思いでプログラミングを勉強する傍らでトレーニングも続けています。
  %p.introduction1__main  運動歴は、中学〜高校１年生まで陸上競技（短距離）を専門に行い。100mを11秒９、400m55秒というなんとも言えない速さで走っていました！
  %p.introduction1__main  高校2年からは柔道部に入部、入部後メキメキ成長し３ヶ月目に初出場の大会で地区３位に入賞しました。
  %p.introduction1__main  社会人になってからはアームレスリングを１年やっていましたがそれ以降運動からは離れていました。
  %h2.introduction2　アプリを作った目的
  %p.introduction2__main  近年ボディメイクやダイエットといったコンテンツが非常に注目を集めています。
  %p.introduction2__main  たくさんの情報が入り乱れる中で一般人である作者がどのようにして痩せたか、またどのようなモチベーションで取り組んで３ヶ月８キロを痩せることができたのかお伝えできたらと思っています。
  %p.introduction2__main  このコンテンツで自分の中の失敗や成功などをお伝えし、多くの人に痩せる近道をしていただき、理想の体になってもらえたら幸いです。
  %p.introduction2__main  また、コメントを通じて情報交換などを行い。ともに成長していけたらと思っています。
  %p.introduction2__main  私は、働く中で多くの人に幸せや便利を提供したいという思いでプログラミングという道を選びました。このアプリがその第一歩になればと思います。
  = link_to "トレーニングメニューページへ移動",products_path
 