.1week
  .text_box_1week １週間目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text
          正しく痩せようと思うと、時間がかかるという認識を持ちましょう。
        %li.content_1week_main__readiness__text 
          まずは運動になれることが大切です。やりきれなくても全然OK。できないのが普通です。
        %li.content_1week_main__readiness__text
          メニューがハードなときは、楽な体制でやってみましょう。腕立てだったら膝をつく等
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。これができていれば夜お腹がすきすぎたときにおにぎり一個くらいなら食べてもOKです！
        %li.content_1week_main__readiness__text
          頑張りすぎないで、体の変化を楽しんで気軽にやっていきましょう♪
      .content_1week_main__training
        トレーニング内容
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
      .content_1week_main__meal
        食事内容
        %li.content_1week_main__meal__menu
          【定番】鶏むね肉ボイル✕毎食ワンパック
        %li.content_1week_main__meal__menu
          さつまいも   
        %li.content_1week_main__meal__menu
          低糖質麦芽コーヒー
      .content_1week_main__readiness__success
        反省点や振り返り（一週間の振り返り）
        .content_1week_main__readiness__success__menu
          普段運動をしていない方は一週間くらい筋肉痛になると思います。辛かったら初日スクワット→次の日プランクというように交互でOKです。
        .content_1week_main__readiness__success__menu
          食事は、胸肉を食べてお腹がすくとさつまいも食べると言う感じでしのいでいました。
        .content_1week_main__readiness__success__menu
          正直食事は極端ですが、２週間目くらいまでのモチベーションが高いうちに食事で脂肪をできる限り取る方が後々楽になります。徐々に制限を緩めますので安心してください
        .content_1week_main__readiness__success__menu
          補足ですが、私はお腹のお肉を落としたかったので糖質はあまり制限していません。
        .content_1week_main__readiness__success__menu
          お腹のお肉は、内蔵脂肪→皮下脂肪の順に落ちていき、脂質を取らなければ特に内蔵脂肪はすぐに落ちていくからです。
      .content_1week_main__training__commentary
        トレーニング動画紹介
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          やればわかりますが、これ最初はかなりきついです。手の動きなどは最初はやらなくてもOKです。
        .content_1week_main__training__commentary__movie-comment
          私はこれのトレーニングで筋肉痛になり多摩川の階段の土手を登るのに相当苦労しました 笑
      =link_to "２週間目トレーニングへ移動する",week_two_products_path