.week_one
  .text_box_1week 2週間目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        .content_1week_main__readiness__header 心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text 
          まずは運動を続けるという習慣を維持しましょう♪行動が習慣化するのは２週間ほどかかるのでここまで続けられたらしめたものです。
        %li.content_1week_main__readiness__text
          どうしても外食のときは、罪悪感を持たずに食べる！（罪悪感があると太るそうです）
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。これができていれば夜に空腹でおにぎり食べたりしても全然OK！
        %li.content_1week_main__readiness__text
          トレーニングの意識は一週目とほとんど変わらず、気楽に！きつかったら緩めてOK！
      .content_1week_main__training
        .content_1week_main__training__header トレーニング内容
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
        %li.content_1week_main__training__menu-new
          【10分】パンチで脂肪を1kg落とす！全身の脂肪燃焼有酸素運動！　←New！！
        %li.content_1week_main__training__menu-new
          ５キロウォーキング（ゆっくりめ44分前後で歩いていました。）　←New！！
      .content_1week_main__meal
        .content_1week_main__meal__header 食事内容
        %li.content_1week_main__meal__menu
          【定番】鶏むね肉ボイル✕毎食ワンパック（飽きたので市販の棒々鶏のソースをかけて食べました）
        %li.content_1week_main__meal__menu
          さつまいも（胸肉を食べる前に１本）
        %li.content_1week_main__meal__menu
          低糖質麦芽コーヒーor水
      .content_1week_main__readiness__success
        .content_1week_main__readiness__header
          反省点や振り返り（一週間の振り返り）
        .content_1week_main__readiness__success__menu
          トレーニング内容に上半身のトレーニングとウォーキングを追加しました。
        .content_1week_main__readiness__success__menu
          上半身トレは腕、肩、首周りの脂肪を落とすのが目的です。ウォーキングは体力づくりとスクワットの疲労を抜くのが目的です。
        .content_1week_main__readiness__success__menu
          食事は、相変わらずですがボディビルダーを目指しているわけじゃないのでソースをかけても大丈夫だと判断しました。
        .content_1week_main__readiness__success__menu
          この週までに食事で徹底的に脂肪を落としましょう♪
        .content_1week_main__readiness__success__menu
          この週になってくると下半身のトレーニングが終わっても、足が上がらないということは少なくなってくると思います。
        .content_1week_main__readiness__success__menu
          この時期は、急激な体重の変化はありません。スクワットなどで筋肉が軽く付き脂肪がなくなるのでまだ数値上の変化が少ないからです。
      .content_1week_main__training__commentary
        .content_1week_main__training__commentary__header
          トレーニング動画紹介
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          やればわかりますが、これ最初はかなりきついです。手の動きなどは最初はやらなくてもOKです。
        .content_1week_main__training__commentary__movie-comment
          私はこれのトレーニングで筋肉痛になり多摩川の階段の土手を登るのに相当苦労しました 笑
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3PDy_bkpRSs", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          ボクシングの動きです、追い込み過ぎなければ非常に楽しくトレーニングできるのでおすすめです。
        .content_1week_main__training__commentary__movie-comment
          くれぐれも頑張りすぎないを意識して行ってください。順番は順不同で大丈夫ですが、有酸素要素が大きいのでスクワットの後にやったほうがいいと思います。
      =link_to "3週間目トレーニングへ移動する",week_three_products_path,class:"next-link"