.1week
  .text_box_1week 4週間目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text 
          物足りなくなってきたら少し回数を増やしたり、スピードアップしたりして身体に少し負荷を入れても大丈夫です。
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。
        %li.content_1week_main__readiness__text
          正しく痩せるには時間がかかるという認識を持ちましょう♪
      .content_1week_main__training
        トレーニング内容
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
        %li.content_1week_main__training__menu
          【10分】パンチで脂肪を1kg落とす！全身の脂肪燃焼有酸素運動！
        %li.content_1week_main__training__menu
          ５キロウォーキング（速歩き　38分前後で歩いていました。）
      .content_1week_main__meal
        食事内容
        %li.content_1week_main__meal__menu
          【マッスルグリル】沼
        %li.content_1week_main__meal__menu
          低糖質麦芽コーヒー
        %li.content_1week_main__meal__menu
          キットカット１枚
      .content_1week_main__readiness__success
        反省点や振り返り（一週間の振り返り）
        .content_1week_main__readiness__success__menu
          この週はウォーキングの速さを少しアップしたくらいです
        .content_1week_main__readiness__success__menu
          タイムトライアルなどをして自分なりに楽しくトレーニングをしていました
        .content_1week_main__readiness__success__menu
          どうしても、甘いものが食べたくなり寝る前に１枚キットカットを食べていました。
        .content_1week_main__readiness__success__menu
          寝る前はだめだといいますが、お昼に食べると何度も食べたくなるので寝る前がおすすめです。
        .content_1week_main__readiness__success__menu
          この頃に少しずつ痩せ始め、71kg→68kgになりました。
      .content_1week_main__training__commentary
        トレーニング動画紹介【継続】
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          肩甲骨の動きを意識して、しっかりと行うとよいです。
        .content_1week_main__training__commentary__movie-comment
          この段階だとこのメニューはほぼ翌日に疲労なども残らないと思います。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3PDy_bkpRSs", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          ボクシングの動きです、追い込み過ぎなければ非常に楽しくトレーニングできるのでおすすめです。
        .content_1week_main__training__commentary__movie-comment
          鏡などで姿勢を意識するといいです。自分のお腹をみて痩せてやる！と意識を高めていました。
      =link_to "１ヶ月目〜トレーニングへ移動する",month_one_products_path