.week_one1
  .text_box_1week ３週間目トレーニング
  = render 'header'
  .content_1week_main
    .content_1week_main
      .content_1week_main__readiness 
        .content_1week_main__readiness__header 心構え
        %li.content_1week_main__readiness__text
          いつまでに、何のために痩せたいのか明確にしましょう！（私の場合は８月に格闘技を始めるために少し痩せたいでした）
        %li.content_1week_main__readiness__text 
          トレーニングに身体がなれてくるころです。ハードにしすぎず継続を意識して行いましょう。
        %li.content_1week_main__readiness__text
          食事は消費カロリー＞摂取カロリーが基本です。
        %li.content_1week_main__readiness__text
          外食は罪悪感を持たずに食べる！
        %li.content_1week_main__readiness__text
          一日サボった程度で太らないので、休んだらまた継続する！
      .content_1week_main__training
        .content_1week_main__training__header トレーニング内容
        %li.content_1week_main__training__menu
          【４分間で確実に痩せる‼】痩せたい人だけ体幹サーキット ‼【プランクサーキット】
        %li.content_1week_main__training__menu
          【10分】世界一痩せるスクワット！
        %li.content_1week_main__training__menu
          【10分】パンチで脂肪を1kg落とす！全身の脂肪燃焼有酸素運動！
        %li.content_1week_main__training__menu
          ５キロウォーキング（速歩き　40分前後で歩いていました。）
      .content_1week_main__meal
        .content_1week_main__meal__header 食事内容
        %li.content_1week_main__meal__menu-new
          【マッスルグリル】沼　←New！！
        %li.content_1week_main__meal__menu
          低糖質麦芽コーヒー
      .content_1week_main__readiness__success
        .content_1week_main__readiness__header
          反省点や振り返り（一週間の振り返り）
        .content_1week_main__readiness__success__menu
          トレーニングは現状維持のままにしました。ウォーキングの速さだけ少し速歩きにするように心がけています。
        .content_1week_main__readiness__success__menu
          この頃になると身体がスクワットに完全に慣れてきて、トレーニング後のウォーキングに力を入れていました。タイムトライアルを行っていました。
        .content_1week_main__readiness__success__menu
          食事は、ここに来て大きく変えました。Youtuberの動画で非常に楽そうなカレーおじや風のダイエットフードがあったのでそちらに変更しました。
        .content_1week_main__readiness__success__menu
          メリットとしては、それを食べていれば何キロカロリー今摂っていて。。。等考える必要がなく非常に精神的にも楽でした。調理も炊飯器に入れるだけで済み数食分一度に作れます。
        .content_1week_main__readiness__success__menu
          この週からウォーキングが楽しくなり、毎日夜が楽しみでした。
      .content_1week_main__foodmenu
        .content_1week_main__foodmenu__header
          究極のダイエットメニュー沼の作り方
        .content_1week_main__foodmenu-movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/NJtgQEXAjNI", :width => "560"}
        .content_1week_main__foodmenu-movie-comment
          作り方は非常に簡単です。具材を炊飯器に入れて炊飯するだけです。
        .content_1week_main__foodmenu-movie-comment
          私はオクラがあまり得意ではないので変わりに切り干し大根を入れてます。
        .content_1week_main__foodmenu-movie-comment
          またそのままのメニューだと非常に優しい味になるので、粉末顆粒のカツオだしとカレー粉を一杯多めに入れることで非常に食べやすくなりました。
        .content_1week_main__foodmenu-movie-comment
          とにかくバランスが良く食べやすいのでおすすめです。私は一日で食べきれなかったので10合炊きで3日ほどかけて食べていました。
      .content_1week_main__training__commentary
        .content_1week_main__training__commentary__header
          トレーニング動画紹介【継続】
        .content_1week_main__training__commentary__movie 
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/19ZBZPT1CnA", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          プランクです。特にジェットゆうさんの動画は短く負荷もそこまで高くないため初心者におすすめです。スクワットがつらすぎるという方はこれだけでも欠かさずやりましょう。
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/joNzM16CASk", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          スクワットは、MuscleWatchingさんの動画をおすすめしています。女性目線でエクササイズをしてくださることが多いyoutuberさんです。
        .content_1week_main__training__commentary__movie-comment
          やればわかりますが、これ最初はかなりきついです。手の動きなどは最初はやらなくてもOKです。
        .content_1week_main__training__commentary__movie-comment
          私はこれのトレーニングで筋肉痛になり多摩川の階段の土手を登るのに相当苦労しました 笑
        .content_1week_main__training__commentary__movie
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3PDy_bkpRSs", :width => "560"}
        .content_1week_main__training__commentary__movie-comment
          ボクシングの動きです、追い込み過ぎなければ非常に楽しくトレーニングできるのでおすすめです。首、肩、三角筋あたりがシュッとします。
        .content_1week_main__training__commentary__movie-comment
          くれぐれも頑張りすぎないを意識して行ってください。順番は順不同で大丈夫ですが、有酸素要素が大きいのでスクワットの後にやったほうがいいと思います。
      =link_to "4週間目トレーニングへ移動する",week_four_products_path,class:"next-link"